@media (max-width: 360px) {
    .memnuniyet-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .site-header .container nav {
        display: none;
    }

    .lead {
        font-size: 0.7rem;
        margin-bottom: 0;
    }

    .hero-bg {
        height: 45em;
    }

    .hero-section {
        height: 45em;
    }

    .hero-cta .btn {
        font-size: 0.6rem;
        padding: 0.3rem 0.5rem;
    }

    #services .container {
        margin-top: 0em;
    }

    .section-title {
        font-family: 'Times New Roman', Times, serif;
        margin-top: -2em;
    }

    #servicesGrid {
        margin-top: -2em;
    }

    .iletisim-cards {
        margin-top: -50em;
    }

    .card-service img {
        max-height: 40%;
    }

    .d-flex .btn {
        font-size: 0.6em;
    }

    .d-flex .btn-outline-secondary {
        display: none;
    }

    .d-flex .me-1 i {
        display: none;
        margin-left: 10em;
    }

    .card-title {
        font-size: 0.65rem;
        font-size: bold;
        margin-top: 0.1rem;
    }

    .card-content {
        margin-bottom: -0.4em;
    } 

    .card-text {
        font-size: 0.75rem;
    }

    #tubevideo {
        margin-top: -2em;
    }

    .tube iframe {
        min-height: 200px;
    }

    #contact .section-title {
        font-size: 1.1em;
    }

    tr {
        font-size: 0.7rem;
    }

    th {
        width: 40%;
    }

    .py-4 {

        margin-top: -3em;
    }

    .brand {
        margin-left: 1em;
    }

    .modal-body p {
        font-size: 0.66rem;
    }

    .modal-footer .btn {
        font-size: 0.65rem;
    }

    .watermark {
        font-size: 21px;
        /* bottom:100px;
        left: 200px; */
    }

    .sosyal {
        gap: 1.5em;
        font-size: 1.5em;
    }

    .btn-close {
        font-size: 0.5rem;
    }

    .offcanvas-body h3 {
        font-size: 1.3rem;
        margin-top: -0.8em;
        margin-bottom: -0.5em;
    }

    .offcanvas-body p {
        font-size: 0.7rem;
        margin-bottom: -0.8em;
    }

    .gs-container {
        width: 100%;
    }

    .hizmet-button {
        font-size: 0.45em;
        /* Yazı boyutunu küçült */
        width: 100%;
        margin-top: -0.5em;
    }

    .d-flex .desktop-text {
        display: none;
    }

    .d-flex .mobile-text {
        display: inline;
    }
}