@media (max-width: 479px) {
    .memnuniyet-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .tube iframe {
        aspect-ratio: 16 / 9;
    }

    .site-header .container nav {
        display: none;
    }

    .lead {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .hero-cta .btn {
        font-size: 0.8rem;
        padding: 0 0.4rem 0 0.6rem;
    }

    .hero-bg {
        height: 45em;
        background-color: none;
        background-size: cover;
        background-position: 65% 50%;
        background-repeat: no-repeat;
    }

    .hero-section {
        height: 45em;
    }

    #services .container {
        margin-top: -2em;
    }

    .section-title {
        font-family: 'Times New Roman', Times, serif;
        margin-top: -2.1em;
    }

    #servicesGrid {
        margin-top: -2em;
    }

    .card {
        width: 100%;
    }

    .card-service img {
        max-height: 60%;
    }

    .card-title {
        font-size: 0.8rem;
        font-size: bold;
        margin-top: 1rem;
    }

    .card-text {
        font-size: 0.75em;
    }

    .card-content {
        margin-bottom: -0.1em;
    } 

    .d-flex .btn {
        font-size: 0.65em;
    }

    #contact .section-title {
        margin-top: -3em;
        margin-bottom: -2em;
    }

    .memnuniyet {
        margin-top: -2em;
    }

    th {
        width: 35%;
        font-size: .9em;
    }

    tr {
        font-size: 0.8rem;
    }

    .py-4 {

        margin-top: -3em;
    }

    .brand {
        margin-left: 1em;
    }

    .modal-body p {
        font-size: 0.76rem;
    }

    .modal-footer .btn {
        font-size: 0.70rem;
    }

    .tube iframe {
        min-height: 200px;
    }

    .sosyal {
        gap: 1.5em;
        font-size: 2em;
    }

    .btn-close {
        font-size: 0.7rem;
    }

    .offcanvas-body h3 {
        font-size: 1.4rem;
        margin-top: -0.8em;
        margin-bottom: -0.5em;
    }

    .offcanvas-body p {
        font-size: 0.8rem;
        margin-bottom: -0.8em;
    }

    .gs-container {
        width: 100%;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .hizmet-button {
        font-size: 0.55rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .btn-primary {
        font-size: 0.3rem;
    }

        .d-flex .desktop-text {
        display: none;
    }

    .d-flex .mobile-text {
        display: inline;
    }

}








