@media (max-width: 630px) {
    .memnuniyet-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .tube h4 {
        font-size: 18px;
    }

    .memnuniyet {
        padding: 14px;
    }

    .phone-call-btn .desktop-text {
        display: inline;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .phone-call-btn .mobile-text {
        display: none;
    }

    .phone-call-btn i {
        margin-right: 8px;
    }

    .site-header .container nav {
        display: none;
    }

    .lead {
        font-size: 0.9rem;
        margin-bottom: 2rem;
    }

    hr {
        margin-bottom: -0.3rem
    }

    .hero-cta .btn {
        font-size: 0.8rem;
        padding: 0 0.4rem 0 0.6rem;
    }

    .hero-bg {
        height: 45em;
        background-color: none;
        background-position: 65% 50%;
        background-repeat: no-repeat;
    }

    .hero-section {
        height: 45em;
    }

    #services .container {
        margin-top: -2em;
    }

    .section-title {
        font-family: 'Times New Roman', Times, serif;
        margin-top: -2.1em;
    }

    #servicesGrid {
        margin-top: -2em;
    }

    .card-service img {
        max-height: 44%;
    }

    .card-title {
        font-size: 0.8rem;
        font-size: bold;
        margin-top: 0.1em;
    }

    .card-text {
        font-size: 1em;
    }

        .card-content {
        margin-bottom: -3.8em;
    } 

    .d-flex .btn {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: -2rem 0.5rem 0.6rem 0.5rem;
    }

    #contact .section-title {
        margin-top: -3em;
        margin-bottom: -2em;
    }

    .memnuniyet {
        margin-top: -2em;
    }

    th {
        width: 35%;
        font-size: .9em;
    }

    tr {
        font-size: 0.8rem;
    }

    .py-4 {

        margin-top: -3em;
    }

    .brand {
        margin-left: 1em;
    }

    .hizmet2 {
        font-size: 1.6em;
    }


    .modal-body p {
        font-size: 0.83rem;
    }

    .modal-footer .btn {
        font-size: 0.85rem;
    }

    .sosyal {
        gap: 1.5em;
        font-size: 2.5em;
    }

    .btn-close {
        font-size: 0.9rem;
    }

    .offcanvas-body h3 {
        font-size: 1.45rem;
        margin-top: -0.8em;
        margin-bottom: -0.5em;
    }

    .offcanvas-body p {
        font-size: 0.82rem;
        margin-bottom: -0.6em;
    }

    .btn-lg a {
        padding: 1rem 1.2rem 1rem 1.2rem;
        color: blue;
    }

    .btn-primary {
        width: 47%;
        font-size: 0.7rem !important;
    }

    .d-flex .btn-sm {
        font-size: 0.85rem;
        padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    }

    .tube iframe {
        min-height: 200px;
    }


}



