@media (max-width: 768px) {
    .gs-container {
        grid-template-columns: repeat(3, 1fr);
        /* 2 sütun */
        width: 100%;
    }

    .hizmet-button {
        font-size: 0.75rem;
        /* Yazı boyutunu küçült */
        width: 100%;
    }

    .btn-call-dynamic .mobile-text {
        display: inline;
    }

    .btn-call-dynamic .desktop-text {
        display: none;
    }

    .btn-primary {
        width: 47%;
        font-size: 0.9rem !important;
    }
}

@media (min-width: 768px) {
    .phone-call-btn .desktop-text {
        display: inline;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .phone-call-btn .mobile-text {
        display: none;
    }

    .phone-call-btn i {
        margin-right: 8px;
    }


}